<h1>Create New Booking</h1>

<%= form_for :booking, url: item_bookings_path, method: :POST do |f| %>
<div class="field">
	<%= f.hidden_field :item_id, :value => @item.id %>
</div>
	<div class="field">
		<%= f.label :rent_start %><br />
		<%= f.text_field :rent_start %>
	</div>
	<div class="field">
		<%= f.label :rent_end %><br />
		<%= f.text_field :rent_end %>
	</div>
	<hr />
	<div class="actions">
		<%= f.submit "Create this booking" %> or <%= link_to "Cancel", item_path(@item) %>
	</div>
<% end %>
