 <!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Owner :</strong>
  <%= link_to @item.owner.name, user_path(@item.owner) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<div id="reviews">
  <h2><%= @item.reviews.count %> Reviews</h2>
  <%= render @item.reviews %>
  <h3> leave review </h3>
  <%= render "reviews/form", review: @item.reviews.build %> -->

</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                  <td><strong>Name:</strong>  </td>
                  <td><%= @item.name %>  </td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @item.description %></td>
              </tr>
              <tr>
                  <td><strong>Owner :</strong>  </td>
                  <td><%= link_to @item.owner.name, user_path(@item.owner) %>  </td>
              </tr>
              <tr>
                <td><strong>Price:</strong></td>
                <td><%= @item.price %></td>
              </tr>
              <%= link_to 'Edit', edit_item_path(@item) %> |
              <%= link_to 'Back', items_path %>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div id="reviews">
          <h2><%= @item.reviews.count %> Reviews</h2>
          <%= render @item.reviews %>
          <h3> leave review </h3>
          <%= render "reviews/form", review: @item.reviews.build %> -->
      </div>
    </div>
  </div>
</div>
